<button
  type="submit"
  class="button add-to-cart-btn {{ class }}"
  title="{{ text }}"
>
  {% if class contains 'circle' or class contains 'sqaure' %}
    {% render 'icon-material' with icon: icon %}
  {% else %}
    {% if icon != blank %}
      {% render 'icon-material' with icon: icon %}
    {% endif %}
    {{ text }}
  {% endif %}
</button>
