
{%-liquid
  assign text = 'Sold Out'
  assign is_available = false
  if product.selected_variant.available
    assign is_available = true
    assign text = 'Add to Cart'
  endif
-%}

{{product.selected_variant.title}}
{% if product.selected_variant.available %}
  is availability
{% else %}
  is NONT availability
{% endif %}

<button
  type="submit"
  class="button theme-product add-to-cart-btn {{ class }}"
  title="{{ text }}"
  {% if is_available == false %}disabled{% endif %}
>
  <span class="button-content">
    {% if class contains 'circle' or class contains 'sqaure' %}
      {% render 'icon_material' with icon: icon %}
    {% else %}
      {% if icon != blank %}
        {% render 'icon_material' with icon: icon %}
      {% endif %}
      {{ text }}
    {% endif %}
  </span>
</button>