<modal-trigger
  data-modal-id="cartDrawer"
  class="cart-thumbnail flex items-center justify-center w-6 h-6 leading-none body-small cursor-pointer text-center rounded-full theme-dark"
>
  <span id="cartCount">{{ cart.item_count }}</span>
</modal-trigger>