<div id='cartUpdate' class="h-header-height px-[--cart-padding] w-full flex justify-between items-center border-hr-color">
    <div id="cartHeader" class="body-large bold" data-cart-count="{{ cart.item_count }}">
        {% if cart.item_count < 1 %}
            <p class="h5 !font-semibold">Your Bag</p>
        {% else %}
            <p class="h5 !font-semibold">
                Your Bag
                <span>
                    ({{ cart.item_count }})
                </span>
            </p>
        {% endif %}
    </div>
    <div class="flex items-center justify-end">
        <modal-trigger class="cart-close button circle transparent -mr-[18px]">
            <div class="icon material-icon text-[18px]">close</div>
        </modal-trigger>
    </div>
</div>