<div class="w-full flex justify-between">
    <div id="cartHeader" data-cart-count="{{ cart.item_count }}">
        {% if cart.item_count < 1 %}
            <p>Your Cart</p>
        {% else %}
            <p>Cart (<span id="cartCount">{{ cart.item_count }}</span>)</p>
        {% endif %}
    </div>
    <div>
        <button id="closeModal" class="cart-close button circle unpadd transparent">
            <div class="icon material-icon">close</div>
        </button>
    </div>
</div>