<div class="flex space-x-gutter justify-end w-full">
  {% for link in linklists.main-menu.links %}
    {% assign is_store_active = false %}
    <div class="flex justify-center items-center">
      <div {% if link.active or is_store_active %} class="border-b border-current"  {% else %} class="border-b border-transparent" {% endif %}>
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
      </div>
    </div>
  {% endfor %}
  {% render 'cart_thumbnail' %}
</div>