<div class="flex space-x-8 tracking-tight justify-end w-full text-{{color}}">
    {% for link in linklists.main-menu.links %}
      {% assign is_store_active = false %}
      <div class="flex justify-center items-center">
        <div {% if link.active or is_store_active %} class="border-b-2 border-black-500 border-solid h-fit"  {% else %} class="border-b-2 border-transparent border-solid h-fit" {% endif %}>
            <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
              {{ link.title }}
            </a>
        </div>
      </div>
    {% endfor %}
    {% render 'cart_thumbnail' %}
    </div>