{%-liquid
  assign icon_shape = 'menu'
  if icon != blank
    assign icon_shape = icon
  endif
-%}

<div
  style="--icon-weight: 2px; --icon-size: .75em;"
  data-icon="{{ icon_shape }}"
  class="animated-icon w-[var(--icon-size)] aspect-square relative flex-col flex items-center justify-center transition">
  <div class="piece-1 transition shrink-0 h-[var(--icon-weight)] w-full bg-current"></div>
  <div class="piece-2 transition shrink-0 h-[var(--icon-weight)] w-full bg-current"></div>
  <div class="piece-3 transition shrink-0 h-[var(--icon-weight)] w-full bg-current"></div>
</div>