{% style %}
	.placeholder-image, .placeholder-image-wrapper {
		width: 100%;
		height: 100%;
		background: var(--light-grey);
	}

	.placeholder-image svg {
		display: block;
	}

	.placeholder-image rect {
		fill: var(--light-grey);
	}

	.placeholder-image path {
		fill: var(--light-text-color);
		opacity: .25;
	}
{% endstyle %}

<div class="placeholder-image-wrapper{% if cover %} absolute top-0 left-0 w-full h-full{% endif %}">
	{% case icon %}
		{% when 'img-lg' %}
			<svg class="placeholder-image" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="500" height="500" fill="white"/>
			<path d="M230.469 258.333L211.198 283.333H288.802L263.802 250L244.531 275L230.469 258.333ZM300 288.802C300 291.753 298.872 294.358 296.615 296.615C294.358 298.872 291.753 300 288.802 300H211.198C208.247 300 205.642 298.872 203.385 296.615C201.128 294.358 200 291.753 200 288.802V211.198C200 208.247 201.128 205.642 203.385 203.385C205.642 201.128 208.247 200 211.198 200H288.802C291.753 200 294.358 201.128 296.615 203.385C298.872 205.642 300 208.247 300 211.198V288.802Z" fill="black"/>
			</svg>
		{% when 'img-xlg %}
			<svg class="placeholder-image" width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="800" height="800" fill="white"/>
			<path d="M380.469 408.333L361.198 433.333H438.802L413.802 400L394.531 425L380.469 408.333ZM450 438.802C450 441.753 448.872 444.358 446.615 446.615C444.358 448.872 441.753 450 438.802 450H361.198C358.247 450 355.642 448.872 353.385 446.615C351.128 444.358 350 441.753 350 438.802V361.198C350 358.247 351.128 355.642 353.385 353.385C355.642 351.128 358.247 350 361.198 350H438.802C441.753 350 444.358 351.128 446.615 353.385C448.872 355.642 450 358.247 450 361.198V438.802Z" fill="black"/>
			</svg>
		{% else %}
			<svg class="placeholder-image" width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="300" height="300" fill="white"/>
			<path d="M130.469 158.333L111.198 183.333H188.802L163.802 150L144.531 175L130.469 158.333ZM200 188.802C200 191.753 198.872 194.358 196.615 196.615C194.358 198.872 191.753 200 188.802 200H111.198C108.247 200 105.642 198.872 103.385 196.615C101.128 194.358 100 191.753 100 188.802V111.198C100 108.247 101.128 105.642 103.385 103.385C105.642 101.128 108.247 100 111.198 100H188.802C191.753 100 194.358 101.128 196.615 103.385C198.872 105.642 200 108.247 200 111.198V188.802Z" fill="black"/>
			</svg>
	{% endcase %}
</div>