<div class="flex flex-col gap-y-gutter cursor-pointer">
  <a href="{{ product.url }}" class="aspect-3/4 relative">
    {% render 'image' with
      src: product.featured_image,
      image_position: 'cover',
      sizes: '600px',
      notlazy: notlazy,
      alt: product.title
    %}
  </a>
  <a href="{{ product.url }}">
    <div class="text-center">
      <div class="font-base-sans-tight-leading">
        {{ product.title }}
      </div>
      <div class="font-sm-mono pt-[2px] lg:pt-0">
        {{ product.price | money }}
      </div>
    </div>
  </a>
</div>
