// Styles for Recharge Subscriptions
.rc-subscription-details {
  display: none !important;
  // TODO: Style to match branding if desired
}

.rc-widget {
  --padding: 20px;
  --box-border: 2px;
  --select-border: 2px;
  --icon-label-space: calc(var(--padding) * .65);
  padding: 0 !important;
  @media screen and (max-width: 600px) {
    --padding: var(--site-margins);
  }

  // Need to set widget template type to "Radio"
  .rc-template__radio {
    .rc-radio {
      position: relative;
      align-items: start !important;
      padding: var(--padding);
      
      border: var(--box-border) solid #DCD5D0;
      margin-bottom: calc(var(--box-border) * -1) !important;

      // Hide native radio button
      input[type=radio] {
        display: none;
      }

      // Custom check icon
      &:before {
        content: 'radio_button_unchecked';
        width: 18px;
        height: 18px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        @extend .material-icon;
        margin-right: var(--icon-label-space);
        padding-top: 0;
        position: relative;
        z-index: 2;
        border-radius: 50%;
        @media screen and (max-width: 600px) {
          display: none !important;
          position: absolute;
          width: 26px;
          height: 26px;
          right: -10px;
          top: -10px;
          margin: 0;
          padding: 0;
          border-radius: 50%;
        }
      }

      // Active Item Styles
      &.rc-radio--active {
        border: var(--box-border) solid currentColor;
        &.subscription-radio {
          margin-bottom: 0 !important;
          border-bottom: none;
        }
        &:before {
          content: 'check_circle';
          display: flex !important;
          color: var(--text-color);
          background-color: var(--bg-color);
        }
      }

      // Label Text
      .rc-radio__label {
        flex-grow: 1;
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 20px;
        margin: 0 0 -.125em;
        @extend .h5;
      }

      &.onetime-radio {
        .rc-radio__label {
        }
      }
    }

    .rc-selling-plans {
      border: 2px solid currentColor;
      border-top: none;
      padding-top: 0 !important;
      padding-left: calc(var(--padding) + 18px + var(--icon-label-space)) !important;
      padding-right: var(--padding) !important;
      padding-bottom: var(--padding) !important;
      margin-bottom: calc(var(--box-border) * -1) !important;
      z-index: 2;
      position: relative;
      @media screen and (max-width: 600px) {
        // remove left padding
        padding-left: var(--padding) !important;
      }
      select {
        max-width: 100%;
        background: transparent;
        border: var(--select-border) solid;
        @extend .body-small;
        line-height: 1.5em;
        padding-top: 0;
        padding-bottom: .0em !important;
        padding-left: 34px;
      }
      &:before {
        content: 'sync';
        @extend .material-icon;
        font-size: 18px;
        width: 34px;
        text-align: center;
        vertical-align: top;
        position: absolute;
        top: 0;
        left: calc(18px + var(--icon-label-space));
        margin-top: 12px;
        margin-left: calc(var(--padding) + var(--select-border));
        padding-bottom: .2em;
        @media screen and (max-width: 600px) {
          // remove left padding
          left: 0;
        }
      }
      &:after {
        content: 'keyboard_arrow_down';
        @extend .material-icon;
        vertical-align: top;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: calc(var(--padding) + var(--select-border));
        padding-right: 8px;
        padding-bottom: .2em;
      }
    }
  }
}