.page-sections {
  & .shopify-section {
    &:first-of-type {
      /* If first section, adjust the definition of "full screen height" */
      & .h-screen-height {
        height: calc(100svh - var(--spacing-full-header-height));
      }
      &:has(.header-overlap) {
        .h-screen-height {
          height: calc(100svh - var(--header-offset));
        }
        margin-top: calc(var(--spacing-header-height) * -1);
      }
    }
  }
}
