/* THEMES */
/* Update the color_schemes object to match for use across the site */
.theme-default {
  /* color: var(--text-color);
  background: var(--bg-color); */
}

*[class*="theme-"] {
  color: var(--text-color);
	background: var(--bg-color);
}

.theme-light-grey {
  --text-color: var(--dark-color);
  --bg-color: var(--light-grey);
}

.theme-dark {
  --text-color: var(--light-color);
  --bg-color: var(--dark-color);
}