<modal-component id="cartDrawer" class="cart-container drawer">
  <div
    class="modal-content w-full md:w-[30vw] max-w-full md:min-w-[600px] bg-bg z-1"
  >
    <div class="flex flex-col bg-off_white h-full">
      <div class="shrink-0 pt-gutter px-[var(--cart-padding)]">
        {% render 'cart_header' %}
      </div>
      <div id="cartContent" class="grow overflow-hidden flex flex-col shrink">
        <div class="flex flex-col px-[var(--cart-padding)] justify-between grow overflow-y-auto overflow-x-hidden max-h-[100%] shrink">
          {% if cart.item_count < 1 %}
            <div class="flex pb-20 flex-col gap-gutter justify-center items-center h-full text-center">
              <p class="h3">Your cart is empty</p>
              <modal-trigger class="button large">Continue Shopping</modal-toggle>
            </div>
          {% else %}
            <div class="flex flex-col max-h-[100%]">
              {% for item in cart.items %}
                {% render 'cart_item' with item: item %}
              {% endfor %}
            </div>
          {% endif %}

          {%- if section.blocks != blank -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
              {%- endcase -%}
            {%- endfor -%}
          {%- endif -%}

          {% render 'cart_upsell' with product_list: section.settings.upsell_collection.products %}

        </div>
        {% if cart.item_count > 0 %}
          <div class="cart-footer w-full shrink-0">
            {% render 'cart_footer' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <modal-trigger class="overlay bg-text-color opacity-20"></modal-trigger>
</modal-component>

{% schema %}
{
  "name": "Cart",
  "blocks": [
    {
			"type": "@app"
		}
  ],
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "text",
      "id": "text_footer",
      "label": "Footer Text"
    },
    {
      "type": "collection",
      "id": "upsell_collection",
      "label": "Cart Upsell Collection"
    },
    {
      "type": "text",
      "id": "text_checkout",
      "label": "Checkout Link Text"
    }
  ]
}
{% endschema %}
