<script src="{{ 'cart_open.js' | asset_url }}" defer></script>

<modal-component id="cartDrawer" class="cart-container drawer">
  <div
    class="modal-content w-full md:w-[30vw] max-w-full md:min-w-[600px] bg-bg"
  >
    <div id="cartContent" class="flex flex-col bg-off_white font-wide h-full max-h-[100vh]">
      <div class="shrink-0 p-gutter">
        {% render 'cart_header' %}
      </div>
      <div class="grow flex flex-col">
        <div class="flex flex-col justify-between grow lg:px-5 overflow-y-auto max-h-[100%] shrink">
          {% if cart.item_count < 1 %}
            <div class="flex pb-20 flex-col gap-gutter justify-center items-center h-full text-center">
              <p class="h3">Your cart is empty</p>
              <modal-trigger class="button large">Continue Shopping</modal-toggle>
            </div>
          {% else %}
            <div class="border-t border-black border-solid flex flex-col max-h-[100%]">
              {% for item in cart.items %}
                {% render 'cart_item' with item: item %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if cart.item_count > 0 %}
          <div class="cart-footer w-full shrink-0">
            {% render 'cart_footer' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="closeModal" class="overlay bg-text-color opacity-20"></div>
</modal-component>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "text",
      "id": "text-footer",
      "label": "Footer Text"
    },
    {
      "type": "text",
      "id": "text-checkout",
      "label": "Checkout Link Text"
    }
  ]
}
{% endschema %}
