<show-on-email-sub-success>
    <div class="hidden opacity-0 transition-opacity duration-500 thank-you-email-subscribe fixed bottom-[20px] left-[20px] right-[20px] z-40 flex flex-col p-[10px] lg:w-1/3 lg:max-w-[437px] bg-white h-fit">
        <div class="w-full pb-[10px] flex">
            <div class="grow">
                <div class="font-base-sans w-full">
                    {{ section.settings.text-line-1 }}
                </div>
                <div class="font-base-serif w-full">
                    {{ section.settings.text-line-2 }}
                </div>
            </div>
            <div>
                <div class="border border-light_gray border-solid pill-email-capture-close-x flex justify-center items-center align-top js-emailClose  hover:bg-orange transition-all duration-300 thank-you-email-subscribe-close">
                    <span class="w-[9px] h-[9px]">
                        {% render 'mobile_menu_sublink_close_x' %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</show-on-email-sub-success>

{% schema %}
{
    "name": "Email Sub Success Message",
    "settings": [
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "text-line-1",
            "label": "Main Text"
        },
        {
            "type": "text",
            "id": "text-line-2",
            "label": "Secondary Text"
        }
    ]
}
{% endschema %}