{% style %}
  #shopify-section-header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  header {
    color: var(--header-color);
    transition: color var(--md-speed) ease-in-out,
                background var(--md-speed) ease-in-out;
  }

  header.scrolled {
    background: var(--bg-color);
    color: var(--text-color);
  }

  header .logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    border: none;
    padding: 0;
    color: currentcolor;
  }

  header .logo svg {
    display: block;
    max-width: 100%;
    color: inherit;
  }
  header .logo svg * {
    fill: currentcolor
  }
{% endstyle %}

<header class="h-header -mb-header relative z-10">
  <div class="px-margin">
    <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="body header-logo">
      <a class="logo" href="{{ routes.root_url }}" title="Go to homepage">
        <div>
          {% render 'logo' %}
        </div>
      </a>
    </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>
  </div>
</header>

{% javascript %}
  const headerSection = document.getElementById('shopify-section-header');
  const header = headerSection.querySelector('header');
  const onScroll = () => {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > 80) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  }
  // const onScrollHandler = this.onScroll.bind(this);
  window.addEventListener('scroll', onScroll, false);
{% endjavascript %}