<script src="{{ 'nav.js' | asset_url }}" defer="defer"></script>

<style>
    #shopify-section-header {
      position: sticky;
      top: 0;
      z-index: 5;
    }
</style>

<div class="h-v-space-sm w-full flex px-margin items-center justify-between">
  <div class="shrink-0">
    <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="body logo">
      <a href="{{ routes.root_url }}" title="Go to homepage">
        {{ shop.name }} Logo
      </a>
    </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>
  </div>
  <div class="shrink-0">
    {% render 'desktop_header_links' with header_color: header_color %}
  </div>
</div>


{% schema %}
{
  "name": "header",
  "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "nav-logo-top",
        "label": "Nav Logo (top)"
      },
      {
        "type": "image_picker",
        "id": "nav-logo-bottom",
        "label": "Nav Logo (bottom)"
      }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                }
      ]
    }
  ]
}
{% endschema %}
