{% style %}
  header {
    color: var(--header-color);
  }

  header .logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    border: none;
    padding: 0;
    color: var(--header-color);
  }

  header .logo svg {
    display: block;
    max-width: 100%;
    color: inherit;
  }
  header .logo svg * {
    fill: currentcolor
  }
{% endstyle %}

<header class="h-header -mb-header relative z-10">
  <div class="px-margin">
    <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="body header-logo">
      <a class="logo" href="{{ routes.root_url }}" title="Go to homepage">
        <div>
          {% render 'logo' %}
        </div>
      </a>
    </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>
  </div>
</header>