<div class="loading-fullscreen transition-all duration-1000 absolute inset-0 z-30 flex bg-paper justify-center items-center pointer-events-none">
    <div class="animate-spin-slow">
        {% render 'alright_loading' %}
    </div>
</div>