{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

{{ 'pdp.css' | asset_url | stylesheet_tag }}
<script src="{{ 'pdp.js' | asset_url }}" defer></script>

{% liquid
	assign media_sizes = '(min-width: 768px) 50vw, 100vw'
%}

<div
	id="mainPDP"
	data-product-update="{{ section.id }}"
	class="w-full flex flex-col md:grid md:grid-cols-2 gap-y-margin {{ spacing_class }}"
>
  <div class="w-full flex flex-col gap-gutter" data-dynamic-content>
		{% if product.selected_or_first_available_variant.image != blank %}
			<div class="md:col-span-2">
				{% render 'image' with
					src: product.selected_or_first_available_variant.image,
					loading: 'eager',
					sizes: media_sizes,
					ratio: 1,
					class: 'w-full',
					fetchpriority: 'high'
				%}
			</div>
		{% endif %}
		<div class="hidden md:grid md:grid-cols-2 gap-gutter">
			{%- for image in product.images -%}
				{% render 'image' with
					src: image,
					sizes: media_sizes,
					ratio: 1,
					class: 'w-full'
				%}
			{%- endfor -%}
		</div>
  </div>

  <div class="px-margin">
    <div class="flex flex-col gap-y-v-space-sm sticky top-sticky-top">
			<add-to-cart-form class="pdp-blocks flex flex-col gap-y-4">
				{%- if section.blocks != blank and section.blocks.size > 0 -%}
					{% for block in section.blocks %}
						{% render block %}
					{% endfor %}
				{%- endif -%}
			</add-to-cart-form>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
	"class": "section-main-product",
  "blocks": [
    {
			"type": "@app"
		},
		{
      "type": "_headline"
    },
    {
      "type": "_rich-text"
    },
    {
      "type": "_actions"
    },
		{
      "type": "_product-price"
    },
		{
      "type": "_product-qty-input"
    },
		{
      "type": "_product-variant-selector"
    },
		{
      "type": "_product-buy-buttons"
    },
		{
      "type": "_product-badges"
    },
		{
      "type": "_accordion"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Product Badges",
      "info": "To get badges like “Best Seller” to appear, when editing the product add a tag of “badge-Best Seller”"
    },
		{
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    }
	]
}
{% endschema %}

