{% style %}
	:root {
		--header-color: {{ section.settings.header_color }};
	}
{% endstyle %}
<h1>PAGE</h1>

{% schema %}
{
  "name": "Page Settings",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "header_color",
      "label": "Header Color",
      "default": "var(--text-color)",
      "options": [
        {
          "value": "var(--text-color)",
          "label": "Dark"
        },
        {
          "value": "var(--white)",
          "label": "Light"
        }
      ]
    }
  ]
}
{% endschema %}