{%-liquid
  assign section_collection = collection
  if section.settings.collection != blank
    assign section_collection = collections[section.settings.collection]
  endif
-%}

<div class="px-margin grid gap-x-gutter gap-y-margin items-center mb-v-space {% if section_collection.featured_image %}md:grid-cols-2{% else %}my-v-space{% endif %}">
  <div class="text-center">
    <div class="md:max-w-[90%] mx-auto">
      <h1>{{ section_collection.title }}</h1>
      <p class="body-large">{{ section_collection.description }}</p>
    </div>
  </div>
  {% if section_collection.featured_image %}
    <div>
      <div class="aspect-3/2 relative">
        {% render 'image' with
          src: section_collection.featured_image,
          image_position: 'cover'
        %}
      </div>
    </div>
  {% endif %}
</div>

<div class="px-margin {{ section.settings.section_margin }}">
  <div class="max-w-site-max-w mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-gutter gap-y-v-space-sm">
      {% for product in section_collection.products %}
        <div>
          {% render 'product_card' with product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
		{
      "type": "select",
      "id": "section_margin",
      "default": "mb-v-space",
      "label": "Section Margin",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "none",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-12 md:mb-margin"
        },
        {
          "label": "Medium",
          "value": "mb-v-space-sm"
        },
        {
          "label": "Large",
          "value": "mb-v-space"
        }
      ]
    }
	]
}
{% endschema %}

