{%-liquid
  assign section_collection = collection
  if section.settings.collection != blank
    assign section_collection = collections[section.settings.collection]
  endif
-%}

<div class="px-margin {{ section.settings.section_spacing }}">
  <div class="max-w-site-max-w mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-gutter gap-y-v-space-sm">
      {% for product in section_collection.products %}
        <div>
          {% render 'product_card' with product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
		{
      "type": "select",
      "id": "section_spacing",
      "default": "mb-v-space",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-v-space-sm"
        },
        {
          "label": "Medium",
          "value": "mb-v-space"
        },
        {
          "label": "Large",
          "value": "mb-v-space-lg"
        }
      ]
    }
	],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}

