{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

<div class="{{ spacing_class }}">
	<div class="px-margin">
    {% content_for 'block',
      type: '_text-lockup',
      id: 'text-lockup',
      classname: 'max-w-narrow text-balance'
    %}
	</div>
</div>

{% schema %}
{
	"name": "Text Section",
	"settings": [
		{
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
	],
	"blocks": [
		{
      "type": "_text-lockup"
    }
	],
	"presets": [
    {
      "name": "Text Section",
      "category": "Text",
      "blocks": [
        {
          "id": "text-lockup",
          "type": "_text-lockup",
          "static": true
        }
      ]
	  }
  ]
}
{% endschema %}