{% capture spacing_class %}
  {% render 'util-section-spacing' with space: section.settings.section_spacing %}
{% endcapture %}

<div class="{{ spacing_class }} text-{{ section.settings.alignment }}">
	<div class="px-margin flex justify-{% if section.settings.alignment == 'center' %}center{% else %}start{% endif %}">
		<div class="max-w-narrow w-full">
			{% render 'text_lockup' with
				blocks: section.blocks,
				alignment: section.settings.alignment,
				body_class: 'max-w-[24em]',
				headline_class: ''
			%}

      {% content_for 'block',
        type: '_text-lockup',
        id: 'text-lockup'
      %}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Text Section",
	"settings": [
		{
      "type": "select",
      "id": "section_spacing",
      "default": "medium",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
		{
      "type": "select",
      "id": "alignment",
      "default": "center",
      "label": "Text Alignment",
      "options": [
        {
          "label": "left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        }
      ]
    }
	],
	"blocks": [
		{
      "type": "_text-lockup"
    },
    {
      "type": "_headline"
    },
    {
      "type": "_rich-text"
    },
    {
      "type": "_actions"
    }
	],
	"presets": [
    {
      "name": "Text Section",
      "category": "Text",
      "blocks": [
        {
          "id": "text-lockup",
          "type": "_text-lockup",
          "static": true
        }
      ]
	  }
  ]
}
{% endschema %}