{%-liquid
  assign hasMedia = false
  if section.settings.image != blank
    assign hasMedia = true
  endif
-%}

<div class="{{ section.settings.section_spacing }} {{ section.settings.section_height }}">
  <div class="relative bg-light-grey h-full">
    <div class="media relative z-1 h-full">
      {% render 'image' with src: section.settings.image, image_position: 'cover' %}
    </div>
    <div class="{% if hasMedia %}absolute{% else %}static{% endif %} min-h-full text-bg overlay-content z-2 top-0 left-0 w-full h-full flex items-center justify-stretch px-margin pb-margin pt-margin">
      <div class="grid gap-gutter w-full">
        <div>
          {% render 'text_lockup' with blocks: section.blocks, alignment: 'center' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "Wide Media",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
    {
      "type": "select",
      "id": "section_height",
      "default": "h-screen-medium",
      "label": "Section Height",
      "options": [
        {
          "label": "Auto",
          "value": "auto-height"
        },
        {
          "label": "Small",
          "value": "h-screen-small"
        },
        {
          "label": "Medium",
          "value": "h-screen-medium"
        },
        {
          "label": "Full Height",
          "value": "h-screen-height"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_spacing",
      "default": "mb-v-space",
      "label": "Section Spacing",
      "info": "This can be used to adjust or remove the space below this section",
      "options": [
        {
          "label": "None",
          "value": "mb-0"
        },
        {
          "label": "Small",
          "value": "mb-v-space-sm"
        },
        {
          "label": "Medium",
          "value": "mb-v-space"
        },
        {
          "label": "Large",
          "value": "mb-v-space-lg"
        }
      ]
    }
	],
	"blocks": [
		{
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Headline",
          "label": "Headline Text"
        }
      ]
    },
		{
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
		{
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Shop Now",
          "label": "Button 1 Label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button 1 Link"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Button 2 Label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Button 2 Link"
        }
      ]
    }
	],
	"presets": [
    {
      "name": "Wide Media",
      "blocks": [
        {
          "type": "heading"
        },
				{
          "type": "text"
        },
				{
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}