.shopify-cleanslate button,
.shopify-cleanslate *[roll='button'],
button:not(.unstyled),
.button {
	--button-bg: var(--main-color);
	--button-color: var(--text-color);
	--button-border-weight: 1px;
	--button-border-color: var(--main-color);
	appearance: none;
	cursor: pointer;
	min-width: 200px;
	height: var(--button-height);
	font-family: var(--main-font);
	font-weight: var(--medium);
	font-size: 18px;
	text-transform: none;
	letter-spacing: -0.01em;
	line-height: 1em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 calc(var(--button-height) * .5) 2px;
	border-radius: var(--button-border-radius);
	background: var(--button-bg);
	color: var(--button-color);
	border: var(--button-border-weight) solid var(--button-border-color);
	transition: background var(--md-speed) ease-in-out,
							color var(--md-speed) ease-in-out,
							border var(--md-speed) ease-in-out,
							box-shadow var(--md-speed) ease-in-out,
							transform var(--md-speed) ease-in-out,
							opacity var(--md-speed) ease-in-out;
}

.shopify-cleanslate button:hover,
.shopify-cleanslate *[roll='button']:hover,
button:not(.unstyled):not([disabled]):hover,
.button:not([disabled]):hover {
  --button-bg: var(--text-color);
	--button-color: var(--bg-color);
	--button-border-weight: 1px;
	--button-border-color: var(--button-bg);
}

button:not(.unstyled)[disabled] {
  opacity: .5;
	cursor: not-allowed;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
	background: var(--button-bg);
	color: var(--button-color);
	border-color: var(--button-border-color);
	border-width: var(--button-border-weight);
}

/* Button Sizes */
button.large, .button.large, input.large {
	--button-height: 48px;
}

button.small, .button.small, input.small {
	--button-height: 34px;
}

button.tiny, .button.tiny, input.tiny {
	--button-height: 30px;
}

button.square, .button.square,
button.circle, .button.circle {
	min-width: 0;
	padding: 0;
	width: var(--button-height);
}

button.circle, .button.circle {
	border-radius: 50%;
}