@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background: var(--bg-color);
	color: var(--text-color);
}

.page-width {
  max-width: calc(var(--max-site-width) + var(--site-margins) * 2);
  margin-left: auto;
  margin-right: auto;
}

*[class*="--hidden"] {
  display: none !important;
}

/* Chrome, Safari, Edge, Opera */
quantity-input input::-webkit-outer-spin-button,
quantity-input input::-webkit-inner-spin-button,
quantity-input input[type=number] {
  appearance: none;
  margin: 0;
}

/* Modals */
modal-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

modal-component:not(.open):not(.animating) {
  opacity: 0;
  visibility: hidden;
}

modal-component:not(.open) .overlay,
modal-component:not(.open) .modal-content {
  opacity: 0 !important;
}

modal-component .overlay,
modal-component .modal-content {
  transition: opacity var(--md-speed) .1s ease-in-out;
}

modal-trigger {
  cursor: pointer;
}

/* Drawers */
modal-component:not(.open).drawer .modal-content {
  opacity: 1 !important;
  transform: translate3d(100%, 0, 0);
}

modal-component.drawer .modal-content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: transform var(--md-speed) .1s ease-in-out;
}